<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031887726139-sl60b8q1k8h8r16ecfu16u63l316sv3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031887726139-sl60b8q1k8h8r16ecfu16u63l316sv3i</string>
	<key>API_KEY</key>
	<string>AIzaSyC1L4cwrX7OcJMTjzF9AADGW-0SOf-woNM</string>
	<key>GCM_SENDER_ID</key>
	<string>1031887726139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adri.tests.secondui.BookInAdvanced</string>
	<key>PROJECT_ID</key>
	<string>bookin-12947</string>
	<key>STORAGE_BUCKET</key>
	<string>bookin-12947.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031887726139:ios:e1fc3e589c72f6c6eade1e</string>
</dict>
</plist>